<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<table mat-table #table [dataSource]="_data">

  <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.name">
    {{column.name}}
    <th mat-header-cell *cdkHeaderCellDef>{{ column.name }} ({{column.type}})</th>
    <td mat-cell *cdkCellDef="let row">{{ row[column.name] }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
