
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>


  <table mat-table #table [dataSource]="_data" matSort>

    <ng-container *ngFor="let column of columns" [cdkColumnDef]="column">
      <th mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *cdkCellDef="let row">{{ row[column] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
